body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.profile-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.profile-section h1, .profile-section h2 {
    font-family: 'Arial Black', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.profile-section p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-link {
    margin: 0 10px;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

.social-link:hover {
    background-color: #0056b3;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.card-white {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.card-white h2 {
    color: #333;
    margin-bottom: 10px;
}

.card-white img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.big-picture {
    max-width: 100%;
    height: auto;
}    

.big-logo {
    max-width: 100%; 
    height: auto;
    width: 25%;
}

.social-icon {
    width: 70px; 
    height: auto;
}